@import url("https://fonts.googleapis.com/css2?family=Syncopate&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {}

body {
  font-family: "Open Sans", sans-serif;
}

.revealable {
  transition: 1s ease all;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.revealable {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
.reveal {
  opacity: 1;
  filter: blur(0);
  transform: translateX(-0);
}
