---
import "../styles/index.css";

import Layout from '../components/Layout.astro';
import SiteHeaderMobile from '../components/SiteHeaderMobile.js';
import Carousel from '../components/Carousel.js';
import Footer from '../components/Footer.js';
---

<Layout title="Hours + Location | Playground Asian Food Hall  | Asian fusion food hall in Denver, CO">
  <SiteHeaderMobile/>
  <section>
    <Carousel>
  </section>

  <section>
    <p>Let us cater your next event!</p>
    <a href="#" class="bg-white border-black mt-8 border-4 text-lg font-syncopate px-4 py-2 font-black inline-block transition ease-in-out hover:text-white hover:bg-black">INQUIRE NOW</a>
  </section>

  <section>
    <Footer/>
  </section>
</Layout>
