---
import "../styles/index.css";
import "../styles/navbarlink.css";
import LocationBanner from '../components/LocationBanner.js';

import Layout from '../components/Layout.astro';
import SiteHeaderMobile from '../components/SiteHeaderMobile.js';
import Revealable from '../components/Revealable.tsx';
import Footer from '../components/Footer.js';
---

<Layout title="Hours + Location | Playground Asian Food Hall  | Asian fusion food hall in Denver, CO">
  <section class="hidden md:block">
    <LocationBanner/>
  </section>
  <section class="top-nav  sticky top-0 z-20 bg-white">
    <div class="object-cover my-3">
      <a href="/">
        <img
          src="/images/playground-header-logo.avif"
          class="block h-[38px]"
          alt="a sandwich sitting on top of a wooden table"
        />
      </a>
    </div>
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
      <div class='menu-button'></div>
    </label>
    <ul class="menu z-50">
      <li class="md:link-underline-animation "><a href="hours_and_location.html" class="link-underline-animation block text-black font-extrabold leading-loose tracking-widest text-sm">HOURS & LOCATION</a></li>
      <li class="md:link-underline-animation "><a href="#" class="link-underline-animation block text-black font-extrabold leading-loose tracking-widest text-sm">MENU</a></li>
      <li class="md:link-underline-animation "><a href="about.html" class="link-underline-animation block text-black font-extrabold leading-loose tracking-widest text-sm">ABOUT</a></li>
      <li class="md:link-underline-animation "><a href="contact.html" class="link-underline-animation block text-black font-extrabold leading-loose tracking-widest text-sm">CONTACT</a></li>
    </ul>
  </section>
  <div class="md:hidden">
    <LocationBanner/>
  </div>

  <Revealable client:visible>
    <section class="relative">
      <img
        src="/images/dim-sum.avif"
        class="relative block object-cover bg-cover h-[70vh] w-full"
        alt="a variety of dim sum on a table"
      />
      <h1 class="absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] text-6xl text-center text-white font-black drop-shadow-2xl md:text-8xl">VISIT US</h1>
    </section>
  </Revealable>

  <Revealable client:visible>
    <section class="px-4 py-20 md:max-w-xl md:mx-auto ">
      <h1 class="font-syncopate font-extrabold text-center text-3xl mb-4 md:text-5xl">
        HOURS & LOCATION
      </h1>
      <p class="text-center mb-4 leading-6">
        <a href="https://maps.google.com/?q=950+Broadway,+Denver,+CO+80203,+USA&ftid=0x876c7f29c79cc459:0x331c561681c06022" target="_blank">
          950 Broadway,
          <br>
          Denver, CO 80203
        </a>
        <br>
        <a href="tel:(303) 335-0368">(303) 335-0368</a>
        <br>
        <a href="mailto:eatplayground@gmail.com">eatplayground@gmail.com</a>
      </p>
      <p class="text-center mb-4 leading-6">Monday - Closed</p>
      <p class="text-center mb-4 leading-6">
        Tuesday - Sunday
        <br>
        11:00 am - 9:00 pm
      </p>
    </section>
  </Revealable>

  <section class="map-responsive">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3068.3694701937084!2d-104.98928348452225!3d39.731350779450764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876c7f29c79cc459%3A0x331c561681c06022!2s950%20Broadway%2C%20Denver%2C%20CO%2080203!5e0!3m2!1sen!2sus!4v1677266495895!5m2!1sen!2sus"
      width="600"
      height="450"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </section>

  <section>
    <Footer/>
  </section>
</Layout>

<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      console.log(entry)
      if (entry.isIntersecting) {
        entry.target.classList.add('reveal');
      } else {
        entry.target.classList.remove('reveal');
      }
    });
  });

  const hiddenElements = document.querySelectorAll('.revealable');
  hiddenElements.forEach((el) => observer.observe(el));
</script>
