---
import "../styles/index.css";

import Layout from '../components/Layout.astro';
import Hamburger from '../components/Hamburger.js';
import Banner from '../components/Banner.js';
import Navbar from '../components/Navbar.js';
---

<Layout title="Playground Asian Food Hall | Asian fusion food hall in Denver, CO">
  <main>
    <Hamburger/>
    <Banner/>
    <Navbar/>
  </main>
</Layout>
