---
import "../styles/index.css";

import Layout from '../components/Layout.astro';
import SiteHeaderMobile from '../components/SiteHeaderMobile.js';
import Navbar from '../components/Navbar.js';
import Carousel from '../components/Carousel.js';
import FoodMenu from '../components/FoodMenu.js';
---

<Layout title="Playground Asian Food Hall | Asian fusion food hall in Denver, CO">
  <main>
    <SiteHeaderMobile/>
    <Navbar/>
    <Carousel/>
    <FoodMenu/>
  </main>
</Layout>
