---
import Layout from '../components/Layout.astro';
import Banner from '../components/Banner.jsx';
---

<Layout title="Playground Asian Food Hall | Asian fusion food hall in Denver, CO">
  <main>
    <Banner/>
  </main>
</Layout>
