---
import "../styles/index.css";

import Revealable from '../components/Revealable.astro';

import Layout from '../components/Layout.astro';
import Header from '../components/Header.astro';
import Carousel from '../components/Carousel.js';
import FoodMenu from '../components/FoodMenu.js';
import Footer from '../components/Footer.js';
---

<Layout title="Playground Asian Food Hall | Asian fusion food hall in Denver, CO">
  <Header/>
  <Carousel/>
  <Revealable>
    <FoodMenu/>
  </Revealable>

  <Revealable>
    <section class="bg-yellow-300">
      <main class="container lg:w-1/2 mx-auto px-4 py-10 md:py-20">
        <h1 class="text-3xl lg:text-6xl font-syncopate font-black text-center mb-4">
          <small class="text-lg lg:text-xl font-sans font-thin leading-10 tracking-wider">WELCOME TO</small>
          <br/>
          PLAYGROUND
        </h1>
        <h4 class="font-syncopate text-center font-medium text-sm lg:text-lg mb-4">Asian Fusion Food Hall</h4>
        <p class="block text-center leading-6">We are a collection of 6 restaurant concepts operating out of one state-of-the-art, smart kitchen. Our brands offer culinary designed menus carefully crafted with quality you can taste. From our kitchen to yours, we hope you taste the love delivered to your door.</p>
      </main>
    </section>
  </Revealable>

  <Revealable>
    <section class="bg-pink-500">
      <div class="flex flex-wrap md:flex-nowrap justify-center mx-auto px-4 pt-4 pb-10 md:pb-4">
        <img
          src="/images/dumplings.avif"
          class="block object-cover bg-cover h-96 w-full md:mr-20 md:h-[40rem]"
          alt="dumplings in a bowl"
        />
        <div class="mt-10 max-w-[80%] md:mt-40">
          <h1 class="bg-white py-4 pl-4 font-black shadow font-syncopate text-3xl md:-translate-x-40 md:text-4xl">OUR MENUS</h1>
          <p class="mt-8">Asian/Mex concepts to traditional comforts of Chinese takeout favorites. Explore a variety of dishes from sweet Thai chili shrimp to dumplings and Asian fusion tacos.</p>
          <a href="#" class="bg-white border-black mt-8 border-4 text-lg font-syncopate px-4 py-2 font-black inline-block transition ease-in-out hover:text-white hover:bg-black">VIEW MENUS</a>
        </div>
      </div>
    </section>
  </Revealable>

  <Revealable>
    <img
      src="/images/chicken-wings.jpg"
      class="block object-cover bg-cover h-[75vh] w-full"
      alt="baked chicken wings on a sheet pan"
    />
  </Revealable>

  <Revealable>
    <section class="bg-orange-400">
      <div class="flex flex-wrap md:flex-nowrap justify-center mx-auto px-4 pt-10 pb-4 md:pt-4">
        <div class="mb-10 max-w-[80%] md:mr-20 md:mt-40">
          <h1 class="bg-white py-4 pl-4 font-black shadow font-syncopate text-3xl md:translate-x-40 md:text-4xl md:text-right md:pr-4">
            HEALTH CONSCIOUS OPTIONS
          </h1>
          <p class="mt-8 text-right">
            Our food hall encourages togetherness, light-hearted yet seriously delicious foods with various options for every diet. Gluten-free options to nut allergies.
          </p>
          <a href="#" class="bg-white border-black mt-8 border-4 text-lg font-syncopate px-4 py-2 font-black inline-block transition ease-in-out hover:text-white hover:bg-black md:float-right">GIFT CARDS COMING SOON!</a>
        </div>
        <img
          src="/images/dumplings.avif"
          class="block object-cover bg-cover h-96 w-full md:h-[40rem]"
          alt="dumplings in a bowl"
        />
      </div>
    </section>
  </Revealable>

  <Revealable>
    <img
      src="/images/ban-chan.avif"
      class="block object-cover bg-cover h-[75vh] w-full"
      alt="korean side dishes or ban chan"
    />
  </Revealable>

  <Revealable>
    <section class="bg-yellow-400">
      <div class="flex flex-wrap md:flex-nowrap justify-center mx-auto px-4 pt-4 pb-10 md:pb-4">
        <img
          src="/images/kimbap.avif"
          class="block object-cover bg-cover h-96 w-full md:mr-20 md:h-[40rem]"
          alt="dumplings in a bowl"
        />
        <div class="mt-10 max-w-[80%] md:mt-40 md:w-[80rem]">
          <h1 class="bg-white py-4 pl-4 font-black shadow font-syncopate text-3xl md:-translate-x-40 md:text-4xl">OUR CATERING</h1>
          <p class="mt-8">Let us cater your next event!</p>
          <a href="#" class="bg-white border-black mt-8 border-4 text-lg font-syncopate px-4 py-2 font-black inline-block transition ease-in-out hover:text-white hover:bg-black">INQUIRE NOW</a>
        </div>
      </div>
    </section>
  </Revealable>

  <Revealable>
    <img
      src="/images/eggrolls.avif"
      class="block object-cover bg-cover h-[75vh] w-full"
      alt="a stack of eggrolls"
    />
  </section>
  <Footer/>
</Layout>


<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      console.log(entry)
      if (entry.isIntersecting) {
        entry.target.classList.add('reveal');
      } else {
        entry.target.classList.remove('reveal');
      }
    });
  });

  const hiddenElements = document.querySelectorAll('.revealable');
  hiddenElements.forEach((el) => observer.observe(el));
</script>
