---
import Layout from '../components/Layout.astro';
---

<Layout title="Playground Asian Food Hall | Asian fusion food hall in Denver, CO">
  <main>
    <div class="bg-red-500 text-center mx-auto">
      <a class="bg-white text-xs text-center font-light no-underline" href="https://www.google.com/maps?q=950+Broadway,+Denver,+CO+80203,+USA&ftid=0x876c7f29c79cc459:0x331c561681c06022"  target="_blank">
        950 BROADWAY, DENVER, CO 80203
      </a>
      <a class="text-xs font-thin" href="tel:+3033350368">(303) 335-0368</a>
    </div>
  </main>
</Layout>
