<section class="container mx-auto px-4 py-10">
  <div class="flex flex-wrap items-center justify-around content-between">
    <a
      href="menu/pink-tiger-tacos/"
      class="w-20 m-2 md:w-40">
      <img
        src="/images/pink-tiger-tacos-logo.png"
        class="block"
        alt="pink tiger tacos logo"/>
    </a>
    <a
      href="menu/hello-kimbap/"
      class="w-20 m-2 md:w-40">
      <img
        src="/images/kimbap-logo.avif"
        class="block"
        alt="kimbap logo"/>
    </a>
    <a
      href="menu/bonfire/"
      class="w-20 m-2 md:w-40">
      <img
        src="/images/bonfire-logo.png"
        class="block"
        alt="bonfire logo"/>
    </a>
    <a
      href="menu/buddha-belly/"
      class="w-20 m-2 md:w-40">
      <img
        src="/images/buddha-belly-logo.png"
        class="block"
        alt="buddha belly logo"/>
    </a>
    <a
      href="menu/gem-pan-asian/"
      class="w-20 m-2 md:w-40">
      <img
        src="/images/gem-pan-asian-logo.png"
        class="block"
        alt="gem pan asian logo"/>
    </a>
    <a
      href="menu/bok-bok/"
      class="w-20 m-2 md:w-40">
      <img
        src="/images/bok-bok-logo.png"
        class="block"
        alt="bok bok logo"/>
    </a>
  </div>
</section>
