---
import "../../styles/index.css";

import Layout from '../../components/Layout.astro';
import Header from '../../components/Header.astro';
import Revealable from '../../components/Revealable.astro';
import Footer from '../../components/Footer.js';
---

<Layout title="Hours + Location | Playground Asian Food Hall  | Asian fusion food hall in Denver, CO">
  <Header/>

  <Revealable client:visible>
      <img
        src="../../images/chicken-wings.jpg"
        class="block object-cover bg-cover h-[70vh] w-full"
        alt="baked chicken wings on a sheet pan"
      />
  </Revealable>


  <Revealable client:visible>
    <main>
      <section class="text-center max-w-2xl px-4 mx-auto pt-20 pb-20">
        <h1 class="font-syncopate text-3xl font-black bg-red-600 mt-[-35%] py-6 mb-11 md:mt-[-20%]">BOK BOK</h1>
        <img
          src="../../images/bok-bok-logo.png"
          class="block w-48 mx-auto md:w-56"
          alt="bok bok logo"/>
      </section>
    </main>
  </Revealable>

  <Revealable client:visible>
    <div class="container mx-auto flex flex-row flex-wrap md:flex-nowrap w-full">
      <div class="flex flex-col basis-full flex-1 mb-5 md:border-r-4 md:border-black">
        <h2 class="text-2xl font-syncopate font-black text-center mb-4 md:text-3xl">Chicken Wings</h2>
        <div class="food-menu-item mb-4">
          <h4 class="font-syncopate font-black text-lg text-center">6 PIECES</h4>
          <p class="text-center">1 flavor</p>
          <p class="text-center"><strong>7.50</strong></p>
        </div>
        <div class="food-menu-item mb-4">
          <h4 class="font-syncopate font-black text-lg text-center">12 PIECES</h4>
          <p class="text-center">2 flavors</p>
          <p class="text-center"><strong>10</strong></p>
        </div>
        <div class="food-menu-item mb-4">
          <h4 class="font-syncopate font-black text-lg text-center">18 PIECES</h4>
          <p class="text-center">3 flavors</p>
          <p class="text-center"><strong>14.50</strong></p>
        </div>
      </div>

      <div class="flex flex-col basis-full flex-1 mb-5 md:border-r-4 md:border-black">
        <h2 class="text-2xl font-syncopate font-black text-center mb-4 md:text-3xl">WINGS & FRIES</h2>
        <div class="food-menu-item mb-4">
          <h4 class="font-syncopate font-black text-lg text-center">6 PIECES</h4>
          <p class="text-center">1 flavor + regular fries</p>
          <p class="text-center"><strong>10</strong></p>
        </div>
        <div class="food-menu-item mb-4">
          <h4 class="font-syncopate font-black text-lg text-center">12 PIECES</h4>
          <p class="text-center">2 flavors + regular fries</p>
          <p class="text-center"><strong>12</strong></p>
        </div>
        <div class="food-menu-item mb-4">
          <h4 class="font-syncopate font-black text-lg text-center">18 PIECES</h4>
          <p class="text-center">3 flavors + regular fries</p>
          <p class="text-center"><strong>16</strong></p>
        </div>
      </div>

      <div class="flex flex-col basis-full flex-1 mb-5">
        <h2 class="text-2xl font-syncopate font-black text-center mb-4 md:text-3xl">CHICKEN TENDER & FRIES COMBO</h2>
        <div class="food-menu-item mb-4">
          <h4 class="font-syncopate font-black text-lg text-center">3 PIECES</h4>
          <p class="text-center">1 flavor</p>
          <p class="text-center"><strong>10</strong></p>
        </div>
        <div class="food-menu-item mb-4">
          <h4 class="font-syncopate font-black text-lg text-center">6 PIECES</h4>
          <p class="text-center">1 flavor</p>
          <p class="text-center"><strong>13</strong></p>
        </div>
        <div class="food-menu-item mb-4">
          <h4 class="font-syncopate font-black text-lg text-center">8 PIECES</h4>
          <p class="text-center">2 flavors</p>
          <p class="text-center"><strong>14.50</strong></p>
        </div>
      </div>
    </div>
  </Revealable>


  <section>
    <Footer/>
  </section>
</Layout>

<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      console.log(entry)
      if (entry.isIntersecting) {
        entry.target.classList.add('reveal');
      } else {
        entry.target.classList.remove('reveal');
      }
    });
  });

  const hiddenElements = document.querySelectorAll('.revealable');
  hiddenElements.forEach((el) => observer.observe(el));
</script>
