---
import "../../styles/index.css";

import Layout from '../../components/Layout.astro';
import Header from '../../components/Header.astro';
import Revealable from '../../components/Revealable.astro';
import Footer from '../../components/Footer.astro';
---

<Layout title="Hours + Location | Playground Asian Food Hall  | Asian fusion food hall in Denver, CO">
  <Header/>

  <Revealable>
      <img
        src="../../images/red-cabbage-stir-fry.avif"
        class="block object-cover bg-cover h-[70vh] w-full"
        alt="red cabbage asian stir fry"
      />
  </Revealable>


  <Revealable>
    <main>
      <section class="text-center max-w-2xl px-4 mx-auto pt-20 pb-20">
        <h1 class="font-syncopate text-3xl font-black bg-red-600 mt-[-35%] py-6 mb-11 md:mt-[-20%]">BUDDHA BELLY</h1>
        <img
          src="../../images/buddha-belly-logo.png"
          class="block w-48 mx-auto md:w-56"
          alt="bok bok logo"/>
      </section>
    </main>
  </Revealable>

  <Revealable>
    <div class="container mx-auto flex flex-row flex-wrap md:flex-nowrap w-full">
      <div class="flex flex-col basis-full flex-1 mb-5 md:border-r-4 md:border-black">
        <h2 class="text-2xl font-syncopate font-black text-center mb-4 md:text-3xl">MAINS</h2>
        <div class="food-menu-item mb-4">
          <h4 class="font-syncopate font-black text-lg text-center">GARLIC NOODLES</h4>
          <p class="text-center"><strong>12</strong></p>
        </div>
        <div class="food-menu-item mb-4">
          <h4 class="font-syncopate font-black text-lg text-center">Vegan Spam Fried Rice</h4>
          <p class="text-center"><strong>11.50</strong></p>
        </div>
        <div class="food-menu-item mb-4">
          <h4 class="font-syncopate font-black text-lg text-center">Tofu & Omni Pork Egg Roll Delight Rice Bowl</h4>
          <p class="text-center"><strong>14.50</strong></p>
        </div>
        <div class="food-menu-item mb-4">
          <h4 class="font-syncopate font-black text-lg text-center">Buddha’s Belly Veggie Stir-Fry</h4>
          <p class="text-center">add tofu</p>
          <p class="text-center"><strong>11</strong></p>
        </div>
      </div>

      <div class="flex flex-col basis-full flex-1 mb-5">
        <h2 class="text-2xl font-syncopate font-black text-center mb-4 md:text-3xl">SIDES</h2>
        <div class="food-menu-item mb-4">
          <h4 class="font-syncopate font-black text-lg text-center">Omnipork Dumplings</h4>
          <p class="text-center"><strong>8</strong></p>
        </div>
        <div class="food-menu-item mb-4">
          <h4 class="font-syncopate font-black text-lg text-center">Veggie Egg Rolls (4)</h4>
          <p class="text-center"><strong>6</strong></p>
        </div>
        <div class="food-menu-item mb-4">
          <h4 class="font-syncopate font-black text-lg text-center">Omnipork Chili Wontons</h4>
          <p class="text-center"><strong>9</strong></p>
        </div>
        <div class="food-menu-item mb-4">
          <h4 class="font-syncopate font-black text-lg text-center">Omnipork Egg Rolls (3)</h4>
          <p class="text-center"><strong>7</strong></p>
        </div>
      </div>
    </div>
  </Revealable>


  <Footer/>
</Layout>

<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      console.log(entry)
      if (entry.isIntersecting) {
        entry.target.classList.add('reveal');
      } else {
        entry.target.classList.remove('reveal');
      }
    });
  });

  const hiddenElements = document.querySelectorAll('.revealable');
  hiddenElements.forEach((el) => observer.observe(el));
</script>
