---
import "../../styles/index.css";
import "../../styles/navbarlink.css";
import LocationBanner from '../../components/LocationBanner.js';

import Layout from '../../components/Layout.astro';
import Revealable from '../../components/Revealable.tsx';
import Footer from '../../components/Footer.js';
---

<Layout title="Hours + Location | Playground Asian Food Hall  | Asian fusion food hall in Denver, CO">
  <section class="hidden md:block">
    <LocationBanner/>
  </section>
  <section class="top-nav">
    <div class="object-cover my-3">
      <a href="/">
        <img
          src="/images/playground-header-logo.avif"
          class="block h-[38px]"
          alt="a sandwich sitting on top of a wooden table"
        />
      </a>
    </div>
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
      <div class='menu-button'></div>
    </label>
    <ul class="menu z-50">
      <li class="md:link-underline-animation "><a href="hours_and_location.html" class="link-underline-animation block text-black font-extrabold leading-loose tracking-widest text-sm">HOURS & LOCATION</a></li>
      <li class="md:link-underline-animation "><a href="#" class="link-underline-animation block text-black font-extrabold leading-loose tracking-widest text-sm">MENU</a></li>
      <li class="md:link-underline-animation "><a href="about.html" class="link-underline-animation block text-black font-extrabold leading-loose tracking-widest text-sm">ABOUT</a></li>
      <li class="md:link-underline-animation "><a href="contact.html" class="link-underline-animation block text-black font-extrabold leading-loose tracking-widest text-sm">CONTACT</a></li>
    </ul>
  </section>
  <div class="md:hidden">
    <LocationBanner/>
  </div>


  <Revealable client:visible>
      <img
        src="../images/red-cabbage-stir-fry.avif"
        class="block object-cover bg-cover h-[70vh] w-full"
        alt="red cabbage asian stir fry"
      />
  </Revealable>


  <Revealable client:visible>
    <main>
      <section class="text-center max-w-2xl px-4 mx-auto pt-20 pb-20">
        <h1 class="font-syncopate text-3xl font-black bg-red-600 mt-[-35%] py-6 mb-11 md:mt-[-20%]">BUDDHA BELLY</h1>
        <img
          src="../images/buddha-belly-logo.png"
          class="block w-48 mx-auto md:w-56"
          alt="bok bok logo"/>
      </section>
    </main>
  </Revealable>

  <Revealable client:visible>
    <div class="container mx-auto flex flex-row flex-wrap md:flex-nowrap w-full">
      <div class="flex flex-col basis-full flex-1 mb-5 md:border-r-4 md:border-black">
        <h2 class="text-2xl font-syncopate font-black text-center mb-4 md:text-3xl">MAINS</h2>
        <div class="food-menu-item mb-4">
          <h4 class="font-syncopate font-black text-lg text-center">GARLIC NOODLES</h4>
          <p class="text-center"><strong>12</strong></p>
        </div>
        <div class="food-menu-item mb-4">
          <h4 class="font-syncopate font-black text-lg text-center">Vegan Spam Fried Rice</h4>
          <p class="text-center"><strong>11.50</strong></p>
        </div>
        <div class="food-menu-item mb-4">
          <h4 class="font-syncopate font-black text-lg text-center">Tofu & Omni Pork Egg Roll Delight Rice Bowl</h4>
          <p class="text-center"><strong>14.50</strong></p>
        </div>
        <div class="food-menu-item mb-4">
          <h4 class="font-syncopate font-black text-lg text-center">Buddha’s Belly Veggie Stir-Fry</h4>
          <p class="text-center">add tofu</p>
          <p class="text-center"><strong>11</strong></p>
        </div>
      </div>

      <div class="flex flex-col basis-full flex-1 mb-5">
        <h2 class="text-2xl font-syncopate font-black text-center mb-4 md:text-3xl">SIDES</h2>
        <div class="food-menu-item mb-4">
          <h4 class="font-syncopate font-black text-lg text-center">Omnipork Dumplings</h4>
          <p class="text-center"><strong>8</strong></p>
        </div>
        <div class="food-menu-item mb-4">
          <h4 class="font-syncopate font-black text-lg text-center">Veggie Egg Rolls (4)</h4>
          <p class="text-center"><strong>6</strong></p>
        </div>
        <div class="food-menu-item mb-4">
          <h4 class="font-syncopate font-black text-lg text-center">Omnipork Chili Wontons</h4>
          <p class="text-center"><strong>9</strong></p>
        </div>
        <div class="food-menu-item mb-4">
          <h4 class="font-syncopate font-black text-lg text-center">Omnipork Egg Rolls (3)</h4>
          <p class="text-center"><strong>7</strong></p>
        </div>
      </div>
    </div>
  </Revealable>


  <section>
    <Footer/>
  </section>
</Layout>

<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      console.log(entry)
      if (entry.isIntersecting) {
        entry.target.classList.add('reveal');
      } else {
        entry.target.classList.remove('reveal');
      }
    });
  });

  const hiddenElements = document.querySelectorAll('.revealable');
  hiddenElements.forEach((el) => observer.observe(el));
</script>
